#### Import Library

In [1]:
import pandas as pd
import numpy as np

#### Load Data

In [2]:
df1 = pd.read_excel('data/raw/PretestLexile_Final.xlsx')

In [3]:
df2 = pd.read_excel('data/raw/InterimLexile_Final.xlsx')

#### Print Sample

In [4]:
df1[:3]

,adminyear,administrationtype,schoolshort,studentid,gradelevelduringadminyear,ell,lunch_recode,sped_recode,ethnicity_recode,score,lexilelevel
0,1718,Pretest,BLOOMFIELD,455857,12,EL,Free/Reduced,Special Education,Hispanic or Latino,385,foundational_reader
1,1718,Pretest,BLOOMFIELD,455869,12,IFEP,Free/Reduced,Special Education,Hispanic or Latino,975,below_gl_4_6_yrs
2,1718,Pretest,BLOOMFIELD,455893,12,RFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,1205,grade_level

In [5]:
df2[:3]

,adminyear,administrationtype,schoolshort,studentid,gradelevelduringadminyear,ell,lunch_recode,sped_recode,ethnicity_recode,score,lexilelevel
0,1718,Interim,BAXTER,572545,12,EO,Free/Reduced,Non-Special Education,Hispanic or Latino,840,between_6_yrs_fr
1,1718,Interim,BAXTER,797185,9,EO,Paid,Special Education,Hispanic or Latino,755,below_gl_4_6_yrs
2,1718,Interim,BAXTER,714625,10,EO,Free/Reduced,Non-Special Education,Hispanic or Latino,760,between_6_yrs_fr

In [6]:
#rename the score to pre_score 
df1.rename(columns={'score':'pre_score'}, inplace=True)
df2.rename(columns={'score':'interim_score'}, inplace=True)

In [7]:
# Print the shape of both dataframes
df1.shape, df2.shape

((12626, 11), (12508, 11))

> We are dealing with an imbalanced dataset. Let us check further after merging the pre-test scores and interim scores dataframes

#### Merge

In [8]:
#outer merge to capture students that have pre-scores but no interim and vice versa
df = pd.merge(df1, df2, on='studentid',how='outer',suffixes=('', '_y'))
df.head()

,adminyear,administrationtype,schoolshort,studentid,gradelevelduringadminyear,ell,lunch_recode,sped_recode,ethnicity_recode,pre_score,...,adminyear_y,administrationtype_y,schoolshort_y,gradelevelduringadminyear_y,ell_y,lunch_recode_y,sped_recode_y,ethnicity_recode_y,interim_score,lexilelevel_y
0,1718.0,Pretest,BLOOMFIELD,455857,12.0,EL,Free/Reduced,Special Education,Hispanic or Latino,385.0,...,1718.0,Interim,BLOOMFIELD,12.0,EL,Free/Reduced,Special Education,Hispanic or Latino,450.0,between_6_yrs_fr
1,1718.0,Pretest,BLOOMFIELD,455869,12.0,IFEP,Free/Reduced,Special Education,Hispanic or Latino,975.0,...,1718.0,Interim,BLOOMFIELD,12.0,IFEP,Free/Reduced,Special Education,Hispanic or Latino,955.0,below_gl_4_6_yrs
2,1718.0,Pretest,BLOOMFIELD,455893,12.0,RFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,1205.0,...,1718.0,Interim,BLOOMFIELD,12.0,RFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,1225.0,grade_level
3,1718.0,Pretest,BLOOMFIELD,455917,12.0,RFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,915.0,...,1718.0,Interim,BLOOMFIELD,12.0,RFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,1005.0,below_gl_4_6_yrs
4,1718.0,Pretest,COLLINS,455929,12.0,EO,Free/Reduced,Non-Special Education,Hispanic or Latino,650.0,...,1718.0,Interim,COLLINS,12.0,EO,Free/Reduced,Non-Special Education,Hispanic or Latino,690.0,between_6_yrs_fr

---
#### Check for Missing Values

In [10]:
#print all rows with missing values
df[df.isnull().any(axis=1)].tail().T

,12751,12752,12753,12754,12755
adminyear,NaN,NaN,NaN,NaN,NaN
administrationtype,NaN,NaN,NaN,NaN,NaN
schoolshort,NaN,NaN,NaN,NaN,NaN
studentid,303169,270781,408229,800725,800773
gradelevelduringadminyear,NaN,NaN,NaN,NaN,NaN
ell,NaN,NaN,NaN,NaN,NaN
lunch_recode,NaN,NaN,NaN,NaN,NaN
sped_recode,NaN,NaN,NaN,NaN,NaN
ethnicity_recode,NaN,NaN,NaN,NaN,NaN
pre_score,NaN,NaN,NaN,NaN,NaN
lexilelevel,NaN,NaN,NaN,NaN,NaN
adminyear_y,1718,1718,1718,1718,1718
administrationtype_y,Interim,Interim,Interim,Interim,Interim
schoolshort_y,OUCHI,OUCHI,OUCHI,OUCHI,OUCHI
gradelevelduringadminyear_y,10,12,9,9,10
ell_y,El,RFEP,EO,El,EO
lunch_recode_y,Paid,Paid,Free/Reduced,Paid,Paid
sped_recode_y,Non-Special Education,Non-Special Education,Non-Special Education,Special Education,Non-Special Education
ethnicity_recode_y,Hispanic or Latino,Hispanic or Latino,Hispanic or Latino,Hispanic or Latino,Black or African American
interim_score,380,1320,890,690,890
lexilelevel_y,foundational_reader,college_ready,below_gl_4_6_yrs,between_6_yrs_fr,below_gl_4_6_yrs

In [11]:
# Clean up missing values in multiple DataFrame columns
# use the values from df2 to filled-in the missing values on _x columns
#this are from students that have pre_scores but no interim scores
df = df.fillna({
    'schoolshort': df.schoolshort_y,
    'gradelevelduringadminyear': df.gradelevelduringadminyear_y,
    'ell': df.ell_y,
    'lunch_recode': df.lunch_recode_y,
    'sped_recode': df.sped_recode_y,
    'ethnicity_recode': df.ethnicity_recode_y,
    'lexilelevel': df.lexilelevel_y,
    'pre_score': np.zeros,
    'interim_score': np.zeros
})

In [12]:
#check for total number of null values on each series within the dataframe
df.isnull().sum()

adminyear                      130
administrationtype             130
schoolshort                      0
studentid                        0
gradelevelduringadminyear        0
ell                              0
lunch_recode                     0
sped_recode                      0
ethnicity_recode                 0
pre_score                        0
lexilelevel                      0
adminyear_y                    248
administrationtype_y           248
schoolshort_y                  248
gradelevelduringadminyear_y    248
ell_y                          248
lunch_recode_y                 248
sped_recode_y                  248
ethnicity_recode_y             248
interim_score                    0
lexilelevel_y                  248
dtype: int64

In [13]:
#drop all columns that we didn't infer the null values with data since we don't need redundancy
df.dropna(axis=1, inplace=True)

#### Check for Duplicates

In [18]:
# Count the number of duplicates ased on student ID
df.studentid.duplicated(keep='first').sum()

0

#### Saved Process File

In [14]:
#save process merge file to the process directory
df.to_csv('data/process/pre_interim_studentscores.csv')
df[:5]

,schoolshort,studentid,gradelevelduringadminyear,ell,lunch_recode,sped_recode,ethnicity_recode,pre_score,lexilelevel,interim_score
0,BLOOMFIELD,455857,12.0,EL,Free/Reduced,Special Education,Hispanic or Latino,385,foundational_reader,450
1,BLOOMFIELD,455869,12.0,IFEP,Free/Reduced,Special Education,Hispanic or Latino,975,below_gl_4_6_yrs,955
2,BLOOMFIELD,455893,12.0,RFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,1205,grade_level,1225
3,BLOOMFIELD,455917,12.0,RFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,915,between_6_yrs_fr,1005
4,COLLINS,455929,12.0,EO,Free/Reduced,Non-Special Education,Hispanic or Latino,650,between_6_yrs_fr,690

In [15]:
df.shape

(12756, 10)

#### Get the List where Students have Pre-Test but don't have Interim Score

In [ ]:
#check studentid from df1 if its not df2
number_student

In [ ]:
print('Total Number of Students that have pre_score but no interim score: {}'.format(len(n_df1.index)))

#### Get the List where Students have Interim Score but didn't have the Pre-Score

In [ ]:
#check studentid from df2 if its not df1
n_df2= df2[~df2.index.isin(df1.index)].dropna()
n_df2[:5]

In [ ]:
print('Total Number of Students that have interim_score but no pre_score: {}'.format(len(n_df2)))

#### Check our distributions

#### Memory Optimization

In [ ]:
#gets the memory usage occupied by the reference including the stored string for the country
df1.memory_usage(deep=True)

In [ ]:
# get memory space to include both data and reference pointer
df1.info(memory_usage='deep')

In [ ]:
#get ehe actual memory usage
df1.memory_usage(deep=True).sum()

In [ ]:
# check the unique data for the column
df2.adminyear.unique()

In [ ]:
year_interim = pd.to_datetime(df2.adminyear.unique()[0], format='%m%d%y')
year_interim

In [ ]:
# check the unique data for the column
df2.administrationtype.unique()

In [ ]:
#drop adminyear and administrationtype
interim_df= df1.drop(['adminyear','administrationtype'],axis=1)
interim_df[:5].T

In [ ]:
# check the unique data for the column and number of unique items
interim_df.schoolshort.unique(), interim_df.schoolshort.nunique()

In [ ]:
interim_df.gradelevelduringadminyear.unique()

In [ ]:
interim_df.ell.unique()

In [ ]:
interim_df.lunch_recode.unique()

In [ ]:
interim_df.sped_recode.unique()

In [ ]:
interim_df.ethnicity_recode.unique(), df.ethnicity_recode.nunique()

In [ ]:
interim_df.lexilelevel.unique(), df.lexilelevel.nunique()

In [ ]:
cols = ['schoolshort', 'gradelevelduringadminyear',
        'ell', 'lunch_recode', 'sped_recode',
        'ethnicity_recode','lexilelevel']

interim_df[cols]= interim_df[cols].astype('category')

In [ ]:
interim_df.dtypes

In [ ]:
#gets the memory usage occupied by the reference including the stored string for the country
interim_df.memory_usage(deep=True)

In [ ]:
interim_df.memory_usage(deep=True).sum()

In [ ]:
# Count the number of duplciates
df.duplicated(keep='first').sum()

In [ ]:
# define our drop function
def drop_y(df):
    # list comprehension of the cols that end with '_y'
    to_drop = [x for x in df if x.endswith('_y')]
    df.drop(to_drop, axis=1, inplace=True)

drop_y(merged)